* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;

}

body {
    background-color: #99E3F3;
}

.logo {
    width: 300px;
    height: 300px;
    display: block;
    margin: 20px auto;



}

main {
    width: 375px;
    border-radius: 20px;
    background: #f4f4f4;
    margin: 0 auto 40px;
    padding: 44px 24px 23px;

}

label {
    color: #777;
    font-weight: 400px;
    font-size: 14px;
    line-height: 18px;
}

select,
input {
    border-radius: 4px;
    border: 1px solid #BBB;
    background: #FFF;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    padding-left: 18px;
    font-weight: 700px;
    font-size: 16px;
    color: #555555;
    cursor: pointer;
}

button {
    width: 100%;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #99E3F3;
    color: #772FD3;
    font-size: 20px;
    margin: 20px auto;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}


section {
   
    border-radius: 20px;
    border: 1px solid #772FD3;
    margin: 36px auto 40px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.seta-img{
    margin: 15px 0;
}


.currency-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:4px
}

.currency{
color:#777;
font-size: 14px;
font-weight: 400px;
}

.currency-value .currency-value-to-convert{
    color: #555;
    font-size: 20px;
    font-weight: 700;
    
}